<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>List of Places</title>
    
</head>
<body>
    {% include "header.html" %}
    <main>
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
                 <option>0-50</option>
                 <option>50-100</option>
                 <option>100+</option>
            </select>
        </section>
        <section id="places-list">
            <!-- List of places will be populated dynamically -->
        </section>
    </main>
    <script src="./js/scripts.js"></script>
</body>
</html>