<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <title>Place Details</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
        </section>
        <section id="reviews">
            <!-- Reviews will be populated dynamically -->
        </section>
        <section id="add-review">
            {% include "add_review.html" %}
        </section>
    </main>
    <script src="./js/scripts.js"></script>
</body>
</html>